@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
.product-card-wrapper {
  cursor: pointer;
  padding: 20px 0;
  border-radius: 15px;
  border: 1px solid #ffffff;
  transition: all .7s; }
  .product-card-wrapper:hover {
    border: 1px solid #e2e2e2; }

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .product-card img {
    max-height: 250px;
    height: 250px; }
  .product-card .small-description {
    font-family: "Montserrat", sans-serif;
    width: 200px; }
    .product-card .small-description h3 {
      color: #000000; }
      .product-card .small-description h3:hover {
        text-decoration: underline; }
  .product-card .stars {
    margin: 10px 0 30px; }
    .product-card .stars i {
      color: #e2e2e2; }
  .product-card footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .product-card footer button.btn-buy {
      border-radius: 100%;
      border: 2px solid #e2e2e2;
      background: none;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .product-card footer button.btn-buy:hover {
        background: #e2e2e2; }
      .product-card footer button.btn-buy img {
        height: 30px; }
    .product-card footer .cost {
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .product-card footer .cost > span {
        font-size: 21px;
        font-weight: 600; }
      .product-card footer .cost .free-delivery img {
        margin-right: 5px;
        height: 20px; }
      .product-card footer .cost .free-delivery span {
        font-size: 10px; }
